
body {
    padding: 0;
}


details.footer {
    color: hsl(0, 0%, 0%);
    position: fixed;
    margin: 0;
    padding: 0.5em;
    bottom: 0;
    left: 0;
    z-index: 100;
    background-color:hsl(194, 90%, 44%);
}

#footer.navbar-fixed-bottom {
    position: relative;
    margin: 0;
}



details.header {
    color: hsl(0, 0%, 0%);
    position: fixed;
    margin: 0;
    padding: 0.5em;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: hsl(194, 90%, 44%);
}

nav.navbar-fixed-top {
    position: relative;
    margin: 0;
}

.page-header h2 {
	margin: 0;
}

.navbar {
    margin: 0;
}

#wrap {
    margin: 0;
}

.container {
    margin: 0;
    padding: 0 0.5em;
    max-width: 100%;
	padding-bottom: 0 !important;
}

.page-header {
	padding: 0;
	margin: 0 0 0.3em 5em;
}


.nav > li > a {
	padding: 0.1em 1em;
}

.nav-pills > li > a {
	border-radius: 0.5em;
}

.form-group {
	margin-bottom: 0;
}



.radio, .checkbox {
    display: inline-block;
    margin: 0;
}

input[type="radio"], input[type="checkbox"] {
	margin: 0.1em 0.5em 0 0;
}


.container .controls > label {
	margin-bottom: 0;
}

/* action button modifications */
.container  table.hide_action_delete > tbody > tr > td >
    a[href*="projects/del/"] {
    display: none;
}

.container  table.hide_action_accept > tbody > tr > td >
    form[action*="accept"] {
    display: none !important;
}

.container .controls > label {
    margin-left: 1em;
    margin-right: 1em;
}
