/*
this style extension freezes the first row and the first two columns

based on
https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css/50516259#50516259
*/


div.table_wrapper {
    overflow: scroll;
    clear: both;
    max-height: calc(100vh - 7em);
}

th, td {
    background-clip: padding-box;
}

.table_wrapper thead th,
.table_wrapper thead th:nth-child(2){
    background-color: hsl(194, 86%, 80%);
}

.table_wrapper tbody td:first-child,
.table_wrapper tbody td:nth-child(2) {
    background-color: hsl(194, 86%, 80%) !important;
}

.table-bordered > tbody > tr > td {
    border-bottom-color:  hsl(0, 0%, 60%) !important;
}


.table_wrapper thead th {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    top: 0;
}

.table_wrapper thead th:first-child {
    left: 0;
    z-index: 1;
}

.table_wrapper thead th:nth-child(2) {
    left: 5em;
    z-index: 1;
}

.table_wrapper tbody td:first-child  {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 0;
}

.table_wrapper tbody td:nth-child(2) {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    left: 5em;
}
