
/******************************************/
/* helpers for toggle visibility of accepted projects... */

/* show only accepted -> hide all other lines */
.container  table.hide_entries_not_success > tbody > tr:not(.success) {
    display: none;
}

/* show only unaccepted -> hide accepted once */
.container  table.hide_entries_success > tbody > tr.success {
    display: none;
}

/******************************************/
/* enable table width resizable */
.table_wrapper table {
  /* width: auto; */
  table-layout: fixed;
}

.table_wrapper .tablesorter th,
.table_wrapper .tablesorter td {
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 3em;
}

.table_wrapper .tablesorter td {
    /* white-space: pre-line; */
    white-space: normal;
}
