/*
this style extension freezes the first row and the first two columns

based on
https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css/50516259#50516259
*/

div.container {
  overflow: scroll;
}

thead th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  top: 0;
}

thead th:first-child {
  left: 0;
  z-index: 1;
}

tbody th {
  position: -webkit-sticky; /* for Safari */
  position: sticky;
  left: 0;
}
