/*
this style extension freezes the first row and the first two columns

based on
https://stackoverflow.com/questions/15811653/table-with-fixed-header-and-fixed-column-on-pure-css/50516259#50516259
*/


div.table_wrapper {
    overflow: scroll;
    clear: both;
    max-height: calc(100vh - 7em);
}



th, td {
    background-clip: padding-box;
}

.table_wrapper thead th,
.table_wrapper thead th:nth-child(2){
    background-color: hsl(194, 86%, 80%);
}

.table_wrapper tbody td:first-child,
.table_wrapper tbody td:nth-child(2) {
    background-color: hsl(194, 86%, 80%) !important;
}

.table_wrapper .table-bordered > tbody > tr > td {
    border-bottom-color:  hsl(0, 0%, 60%) !important;
}





.table_wrapper thead th,
.table_wrapper thead .tablesorter-filter-row td,
.table_wrapper tbody td:first-child,
.table_wrapper tbody td:nth-child(2) {
    position: -webkit-sticky; /* for Safari */
    position: sticky;
    z-index: 1;
}

.table_wrapper thead th {
    top: 0;
    height: 4.5em;
}

.table_wrapper thead .tablesorter-filter-row td {
    top: 4.5em;
}

.table_wrapper thead th:first-child,
.table_wrapper thead td:first-child {
    z-index: 2;
    left: 0;
    min-width: 5em;
}

.table_wrapper thead th:nth-child(2),
.table_wrapper thead td:nth-child(2) {
    z-index: 2;
    left: 5em;
    width: 10em;
}

.table_wrapper tbody td:first-child  {
    left: 0;
    min-width: 5em;
}

.table_wrapper tbody td:nth-child(2) {
    left: 5em;
}
